#logo{
    width: 4.5%;
    position: fixed;
    top: 0.5%;
    left: 0.5%

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

#linea{
    height: 100px;
    width: 100%;
    background-color: black;
    margin: 0px;
    position: fixed
}
h1{
    position: fixed;
    font-size: 30px;
    left: 48%;
    top: 5%;
    color: aliceblue;
}

#contacto{
    position: fixed;
    font-size: 25px;
    left: 78%;
    top: 5%;
    color: aliceblue;
}

#contenedordeimagenes{
    display: flex;
    width: 40%;
    height: 80vh;
    overflow: scroll;
    scroll-snap-type: x mandatory;
margin-top: 100px;
margin-left: 30px;
}
#contenedordeimagenes img{
    flex: 0 0 100%;
    width: 20% ;
    scroll-snap-align: center;

}
figcaption{
    margin-left: 250px;
}